<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir navigation bar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Conenido de la página de Fiestas</strong>
    <p><a target="_blank" rel="noopener noreferrer" href="https://www.jesuitasrioja.org/">Enlace a Jesuitas</a></p>
  </div>
</ion-content>
